.footer {
  padding: 2.5rem 0;
  font-size: var(--fonts-xs);
  color: var(--lightest-slate);
  background-color: var(--dark-navy);

  .flexRow {
    @include flex_center;
    flex-direction: column;
  }

  a {
    color: var(--lightest-slate);
    @include flex_center;

    &:hover {
      color: var(--green);

      &::after {
        width: 0;
      }
    }
  }
}
