header {
  @include flex-between;
  position: fixed;
  top: 0;
  z-index: 11;
  padding: 0px 5rem;
  width: 94%;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);

  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  backdrop-filter: blur(10px);
  transition: var(--transition);

  @media (max-width: 1080px) {
    padding: 0 40px;
  }
  @media (max-width: 768px) {
    padding: 0 25px;
  }

  .scroll-up {
    height: var(--nav-scroll-height);
    transform: translateY(0px);
    background-color: rgba(10, 25, 47, 0.85);
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
  }

  .scroll-down {
    height: var(--nav-scroll-height);
    transform: translateY(calc(var(--nav-scroll-height) * -1));
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
  }
}
