.socials-sidebar {
  @include flex_center;

  right: auto;
  z-index: 999;

  ul {
    list-style: none;

    & li {
      margin-bottom: 1rem;
      @include flex_center;
    }
  }

  & .ul__flex {
    @include flex_center;
    gap: 2.4rem;
  }

  & a {
    &:hover {
      transform: translateY(-2px);
      &::after {
        width: 0;
      }
    }
  }
}

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  position: fixed;
  left: 12px;
  bottom: 0px;

  @include respond(tab-port) {
    display: none;
  }
}
