.small-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-size: var(--fonts-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--green-tint);
    outline: none;
  }
  &:after {
    display: none !important;
  }
}

.button-totop {
  background-color: transparent;
  border: 2px solid var(--logo-color);
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  display: inline-block;
  height: 50px;
  position: fixed;
  text-align: center;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  width: 50px;
  z-index: 999;

  &:hover {
    cursor: pointer;
    background-color: #333;
  }
}
