@mixin carousel_css($carousel-height, $carousel-slide-height) {
  .carousel-root {
    height: $carousel-height !important;

    & .carousel-slider {
      height: 100%;
    }

    & .slider-wrapper {
      height: $carousel-height !important;
      overflow: hidden;

      & .slider {
        height: $carousel-height !important;
      }
    }

    & .control-dots {
      margin-bottom: 0 !important;
      & .dot {
        background: var(--green) !important;
      }
    }

    .carousel .slide .legend {
      display: none !important;
    }

    .carousel .slide img {
      max-height: 94%;
      min-height: $carousel-slide-height;
      max-width: 96%;
      min-width: 70%;
      justify-self: center;
    }

    .carousel .slider-wrapper.axis-horizontal .slider .slide {
      max-height: $carousel-height;
      @include flex_center;
    }
  }
}
