@include respond(tab-land-big) {
  .section-experience,
  .section-about {
    padding: 10rem 10rem;
  }

  .section-hero {
    padding: 10rem 14rem;
  }

  .experience__jobs-tab {
    min-width: 80%;
    max-width: 80%;
  }

  .section-projects {
    padding: 10rem 16rem;
  }
}

@include respond(tab-land) {
  .section-experience,
  .section-hero,
  .section-about {
    padding: 10rem 6rem;
  }

  .section-hero {
    padding: 10rem 10rem;
  }

  .about__tags-box {
    align-self: center;
    margin-top: -16rem;
  }

  .section-projects {
    padding: 10rem 16rem;
  }

  .project-container {
    padding: 0;
  }
}

@include respond(tab-land-small) {
  .section-projects {
    padding: 10rem 12rem;
  }
}

@include respond(tab-port) {
  .section-experience,
  .section-hero,
  .section-about,
  .section-contact {
    padding: 10rem 10rem;
  }

  .section-projects {
    padding: 10rem 15rem;
  }

  .experience__jobs-tab {
    min-width: 100%;
    max-width: 100%;
  }

  .hero,
  .about,
  .contact {
    margin-top: 3.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    &__text-box {
      justify-self: center;
      margin-bottom: 3rem;
    }

    &__tags-box {
      margin-top: 0;
      padding: 0 10rem;
      @include flex_center;

      & canvas {
        width: 100%;
        overflow: visible;
      }
    }

    .section-experience {
      min-height: 70vh;
      max-height: 100vh;
    }
  }

  .contact {
    row-gap: 3.6rem;
  }

  .contact-form__group {
    padding: 0;
  }

  .contact {
    margin-top: -1rem;
  }

  .hero {
    gap: 8.4rem;
  }

  .about {
    gap: 0;
  }

  .project-container {
    &:nth-child(even) {
      @include grid_on_smallScreen;
    }

    &:nth-child(odd) {
      @include grid_on_smallScreen;
    }
  }
}

@include respond(tab-port-small) {
  .section-projects {
    padding: 10rem 10rem;
  }

  .section-about {
    padding: 10rem 6rem;
  }

  .about__tags-box {
    margin-top: 0;
    padding: 0 5rem;
  }
}

@include respond(phone) {
  @include grid_on_verySmallScreen;
  .section-experience,
  .section-hero,
  .section-contact,
  .section-projects {
    padding: 10rem 4rem;
  }

  .nav-admin {
    margin-right: 1rem;
  }

  .section-about {
    padding: 10rem 4rem 0rem 4rem;
  }

  .about__tags-box {
    margin-top: 7rem;
    padding: 0 1rem;
  }

  .experience__jobs-tab {
    min-width: 100%;
    max-width: 100%;
  }

  .skills_grid {
    width: 90%;
    gap: 1rem;
    margin: 0 1rem;
  }

  .login-container {
    & .main-form {
      & .login-button {
        width: 200px;
      }
    }
  }
}

@include respond(small-phone) {
  .about__tags-box {
    margin-top: 0rem;
    padding: 0 0rem;
  }

  .section-projects {
    padding: 10rem 3rem;
  }

  .project-container {
    &:nth-child(even),
    &:nth-child(odd) {
      @include carousel_css(190px, 190px);
      & .project-image {
        grid-area: 3 / 1 / 11 / -1;
      }

      & .project-content {
        grid-area: 11 / 1 / 17 / -1;

        &__description {
          padding: 2rem 1.5rem 1.5rem 1.5rem;
        }
      }

      & .project-tools {
        margin: 0rem 0 1.5rem 1.5rem;

        & li:not(:last-child) {
          margin-right: 7px;
        }
      }
    }
  }
}

@media only screen and (max-width: 595px) {
  .MuiTabs-root {
    min-width: 120% !important;
    max-width: auto !important;
    padding: 0;
    margin-bottom: 4rem;
  }

  .MuiBox-root {
    padding: 0 0rem !important;
  }
}

@media only screen and (max-width: 790px) {
  .login-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;

    & .login-sidebar {
      max-width: 100%;
      height: auto;
    }
  }
}
