:root {
  --light-blue: #2a3260;
  --dark-blue: #151934;
  --contact-color: #424a55;
  --footer-color: #353744;
  --text-gray: #626974;
  --yellow: #f7ea90;
  --light-red: #cf7873;
  --light-red-disabled: #cf78736b;
  --dark-navy: #020c1b;
  --logo-color: #e23c52;
  // --navy: #0a192f;
  --navy: #002244;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  // --green: #64ffda;
  --green: #08fdd8;
  --coral: coral;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;

  --main-fonts: "Calibre", "Open Sans", sans-serif;
  --logo-fonts: "Open Sans", "sans-serif"
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  // Font size
  --fonts-xxxs: 1em;
  --fonts-xxs: 1.2em;
  --tabs-size: 1.3rem;
  --fonts-xs: 1.4rem;
  --fonts-sm: 1.6rem;
  --fonts-md: 2rem;
  --fonts-lg: 2.4rem;
  --fonts-xl: 3.2rem;
  --fonts-xxl: 3.8rem;
  --fonts-xxxl: 4.6rem;
  --fonts-big-heading: 5.4rem;
  --fonts-sub-heading: 3.6rem;
  --border-radius: 4px;
  --nav-height: 90px;
  --tab-height: 4.2rem;
  --tab-width: 12rem;

  --cubanime: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
