:root {
  --dark-navy: rgb(2, 12, 27);
  --logo-color: #175873;
  --logo-shadow: #08fdd8;
  --error-color: #dc3545;
  --not-found-shade: rgb(255, 195, 201);
  --grey: rgb(71, 82, 86);

  // --navy: #0a192f;
  // --navy: #002244;
  --navy: rgb(0, 40, 80);
  --light-navy: #112240;
  --lightest-navy: #233554;
  --dark-navy_rgba: rgba(2, 12, 27, 0.5);
  --lightest-navy-rgba: rgba(35, 53, 84, 0.5);
  --navy-shadow: rgba(2, 12, 27, 0.6);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: rgb(204, 214, 246);
  --lightesttt-slate:rgb(226, 230, 241);
  --lightest-slate-rgba: rgba(204, 214, 246, 0.7);
  --white: #e6f1ff;
  --green-light: #64ffda;
  --green: #08fdd8;
  --dark-green: #00dbba;
  --green-tint: rgba(100, 255, 218, 0.1);

  
  --main-fonts: "Calibre", "Open Sans", sans-serif;
  --logo-fonts: "Open Sans", "sans-serif"
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  // Font size
  --fonts-xxxs: 1em;
  --fonts-xxs: 1.2em;
  --tabs-size: 1.3rem;
  --fonts-xs: 1.4rem;
  --fonts-sm: 1.6rem;
  --fonts-md: 2rem;
  --fonts-lg: 2.4rem;
  --fonts-xl: 3.2rem;
  --fonts-xxl: 3.8rem;
  --fonts-xxxl: 4.6rem;
  --fonts-xxxxl: 10.6rem;
  --fonts-big-heading: 5.4rem;
  --fonts-sub-heading: 3.6rem;
  --border-radius: 4px;
  --nav-height: 90px;
  --tab-height: 4.2rem;
  --tab-width: 12rem;

  --cubanime: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --nav-scroll-height: 70px;
}
