@include respond(tab-land-big) {
  .section-experience,
  .section-about {
    padding: 10rem 10rem;
  }

  .section-hero {
    padding: 10rem 14rem;
  }

  .experience__jobs-tab {
    min-width: 80%;
    max-width: 80%;
  }

  .section-projects {
    padding: 10rem 16rem;
  }
}

@include respond(tab-land) {
  .section-experience,
  .section-hero,
  .section-about {
    padding: 10rem 6rem;
  }

  .section-hero {
    padding: 10rem 10rem;
  }

  .about__tags-box {
    align-self: center;
    margin-top: -16rem;
  }

  .section-projects {
    padding: 10rem 16rem;
  }

  .project-container {
    padding: 0;
  }
}

@include respond(tab-land-small) {
  .section-projects {
    padding: 10rem 12rem;
  }
}

@include respond(tab-port) {
  .section-experience,
  .section-hero,
  .section-about,
  .section-contact {
    padding: 10rem 10rem;
  }

  .section-projects {
    padding: 10rem 15rem;
  }

  .experience__jobs-tab {
    min-width: 100%;
    max-width: 100%;
  }

  .hero,
  .about,
  .contact {
    margin-top: 3.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    &__text-box {
      justify-self: center;
      margin-bottom: 3rem;
    }

    &__tags-box {
      margin-top: 0;
      padding: 0 10rem;
      @include flex_center;

      & canvas {
        width: 100%;
        overflow: visible;
      }
    }

    .section-experience {
      min-height: 70vh;
      max-height: 100vh;
    }
  }

  .contact {
    row-gap: 3.6rem;
  }

  .contact-form__group {
    padding: 0;
  }

  .contact {
    margin-top: -1rem;
  }

  .hero {
    gap: 8.4rem;
  }

  .about {
    gap: 0;
  }

  .project-container {
    &:nth-child(even) {
      @include grid_on_smallScreen;
    }

    &:nth-child(odd) {
      @include grid_on_smallScreen;
    }
  }
}

@include respond(tab-port-small) {
  .section-projects {
    padding: 10rem 10rem;
  }

  .section-about {
    padding: 10rem 6rem;
  }

  .about__tags-box {
    margin-top: 0;
    padding: 0 5rem;
  }
}

@include respond(phone) {
  @include grid_on_verySmallScreen;
  .section-experience,
  .section-hero,
  .section-contact,
  .section-projects {
    padding: 10rem 4rem;
  }

  .section-about {
    padding: 10rem 4rem 4rem 4rem;
  }

  .about__tags-box {
    margin-top: 6rem;
    padding: 0 1rem;
  }

  .experience__jobs-tab {
    min-width: 100%;
    max-width: 100%;
  }
}

@include respond(small-phone) {
  .about__tags-box {
    margin-top: -2rem;
    padding: 0 0rem;
  }

  .section-projects {
    padding: 10rem 3rem;
  }
}

@media only screen and (max-width: 595px) {
  .MuiTabs-root {
    min-width: 100% !important;
    max-width: auto !important;
    margin-bottom: 4rem;
  }

  .MuiBox-root {
    padding: 0 0rem !important;
  }
}
