.section-about {
  padding: 10rem 22rem;
  min-height: 80vh;
}

.about {
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;

  &__text-box {
    align-self: center;
  }

  &__image-box {
    justify-self: center;
    align-self: center;
    gap: 1.6rem;
  }

  &__description-text {
    font-size: var(--fonts-md);
    line-height: 1.3;
    color: var(--light-slate);
  }
}

@include respond(tab-land) {
  .section-about {
    padding: 10rem 8rem;
  }
}

@include respond(tab-land-big) {
  .section-about {
    padding: 10rem 12rem;
  }
}

@include respond(tab-port) {
  .section-about {
    padding: 10rem 2rem;
  }

  .about {
    margin-top: 3.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6.4rem;

    &__text-box {
      justify-self: center;
    }
  }
}
