.section-about {
  padding: 10rem 22rem;
}

.about {
  @include two_col_grid_section;

  &__description-text {
    font-size: var(--fonts-sm);
    align-self: start;
    line-height: 1.3;
    color: var(--light-slate);
  }

  &__tags-box {
    justify-self: center;
    align-self: start;
    margin-top: -8rem;
    z-index: 999;

    & canvas {
      width: 100%;
      font-size: var(--fonts-xxl);
      background-color: var(--navy);
    }
  }
}

.skills_grid {
  @include two_col_grid_section;
  width: 50%;
  align-items: start;
  margin: 0 1rem;

  & li {
    list-style: none;
    font-size: var(--fonts-xs);
    line-height: 1.4;
    color: var(--slate);

    &::before {
      content: "▹";
      margin-right: 1rem;
      color: var(--green);
    }
  }
}

@include respond(tab-land) {
  .section-about {
    padding: 10rem 6rem;
  }

  .about__tags-box {
    align-self: center;
    margin-top: -16rem;
  }
}

@include respond(tab-land-big) {
  .section-about {
    padding: 10rem 10rem;
  }

  .about__tags-box {
    align-self: center;
    margin-top: -16rem;
  }
}

@include respond(tab-port) {
  .section-about {
    padding: 10rem 10rem;
  }

  .about {
    margin-top: 3.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0rem;

    &__text-box {
      justify-self: center;
    }

    &__tags-box {
      margin-top: -1rem;

      & canvas {
        width: 80%;
      }
    }
  }
}

@include respond(phone) {
  .section-about {
    padding: 10rem 4rem;
  }
}
