.section-contact {
  padding: 15rem 0rem 7rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  width: 100%;
  @include two_col_grid_section;
  grid-template-columns: 1fr 1fr;

  gap: 6.2rem;
}

.leaflet-container {
  z-index: 999;
  border-radius: 3px;
  height: 70vh;
  margin-top: -10rem;
  width: 100%;
  overflow: hidden;
  opacity: 0.8;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaflet-popup-content-wrapper {
  background-color: var(--navy);
  color: white;
  border-radius: 7px;

  .leaflet-popup-content {
    font-size: var(--fonts-xs);
  }

  .leaflet-popup-tip {
    background: var(--navy) !important;
  }
}

.leaflet-tile {
  filter: hue-rotate(35deg);
}
