.dash-container {
  @include flex_center;
  flex-wrap: wrap;
  gap: 4.8rem;
  font-weight: 600;
  line-height: 1.2;

  & .card-title {
    font-size: var(--fonts-xl);
    color: var(--logo-color);
  }

  & .card-number {
    font-size: var(--fonts-xxxxl);
    color: var(--dark-slate);
  }
}

.paper-container {
  max-height: calc(100vh - var(--nav-height) - 10rem);
  z-index: 100;
  max-width: 80vw;
  background-color: var(--light-slate);

  & .links {
    @include flex_center;
    gap: 0.5rem;
  }

  a {
    color: var(--dark-navy);

    &:active {
      color: var(--logo-color);
    }

    &:hover {
      color: var(--logo-color) !important;

      &::after {
        width: 0;
      }
    }
  }
}
