.section-experience {
  padding: 10rem 22rem;
  min-height: 90vh;
  max-height: 100vh;
  font-size: var(--fonts-sm) !important;
}

.experience {
  @include flex_center;
  flex-direction: column;
  padding: 3rem 0;

  &__jobs-tab {
    font-size: var(--fonts-sm) !important;
    min-width: 80%;
    max-width: 80%;
  }

  &__description-title {
    font-size: var(--fonts-sm);
  }

  &__position {
    color: var(--white);
  }

  &__description-date {
    color: var(--light-slate);
    margin-bottom: 2rem;
    font-size: var(--fonts-xs);
  }

  &__description-text {
    font-size: var(--tabs-size);
    line-height: 1.8;
    color: var(--light-slate);

    & li:not(:last-child) {
      margin-bottom: 0.7rem;
    }

    & li {
      list-style: none;
      padding-left: 30px;
      position: relative;

      &::before {
        content: "▹";
        margin-right: 1rem;
        color: var(--green);
        position: absolute;
        left: 0;
        top: -2px;
      }
    }
  }
}

.MuiButtonBase-root {
  color: var(--light-slate) !important;
  font-size: var(--tabs-size) !important;
  text-transform: none !important;
}

.Mui-selected {
  color: var(--green) !important;
}

.MuiTabs-indicator {
  background-color: var(--green) !important;
}

.MuiTabs-root {
  min-width: 35% !important;
  max-width: 35% !important;
}

.MuiBox-root {
  padding: 0 2rem !important;
}
