@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --light-blue: #2a3260;
  --dark-blue: #151934;
  --contact-color: #424a55;
  --footer-color: #353744;
  --text-gray: #626974;
  --yellow: #f7ea90;
  --light-red: #cf7873;
  --light-red-disabled: #cf78736b;
  --dark-navy: #020c1b;
  --logo-color: #e23c52;
  --navy: #002244;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #08fdd8;
  --coral: coral;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --main-fonts: "Calibre", "Open Sans", sans-serif;
  --logo-fonts: "Open Sans", "sans-serif"
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fonts-xxxs: 1em;
  --fonts-xxs: 1.2em;
  --tabs-size: 1.3rem;
  --fonts-xs: 1.4rem;
  --fonts-sm: 1.6rem;
  --fonts-md: 2rem;
  --fonts-lg: 2.4rem;
  --fonts-xl: 3.2rem;
  --fonts-xxl: 3.8rem;
  --fonts-xxxl: 4.6rem;
  --fonts-big-heading: 5.4rem;
  --fonts-sub-heading: 3.6rem;
  --border-radius: 4px;
  --nav-height: 90px;
  --tab-height: 4.2rem;
  --tab-width: 12rem;
  --cubanime: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 85em) {
  html {
    font-size: 58%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

::-moz-selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

:focus {
  outline: 2px dashed var(--green);
  outline-offset: 3px;
}

:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0;
}

/* Scrollbar Styles */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--navy);
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: var(--navy);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  font-family: var(--font-sans);
  line-height: 1.3;
  counter-reset: my-section;
}
body.hidden {
  overflow: hidden;
}
body.blur {
  overflow: hidden;
}
body.blur header {
  background-color: transparent;
}
body.blur #content > * {
  filter: blur(5px) brightness(0.7);
  transition: var(--transition);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}
a:hover, a:focus {
  color: var(--green);
}
a:hover::after, a:focus::after {
  height: 1px;
  margin-top: 2px;
}
a:hover, a:focus, a:active {
  color: var(--green);
  outline: 0;
}
a:hover:after, a:focus:after, a:active:after {
  width: 100%;
  left: 0%;
}
a:hover > *, a:focus > *, a:active > * {
  color: var(--green) !important;
  transition: var(--transition);
}
a:focus:after {
  width: 0;
  height: 0;
}
a:after {
  content: "";
  display: block;
  width: 0;
  border-radius: 50px;
  left: 50%;
  height: 2px;
  margin-top: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  transition: var(--transition);
  opacity: 0.5;
}

body {
  font-family: var(--fonts-sans);
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
}

.heading-primary {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  color: var(--white);
  letter-spacing: 0.2rem;
  display: block;
  font-size: var(--fonts-big-heading);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.8rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@media only screen and (max-width: 85em) {
  .heading-primary--main {
    font-size: 4.2rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: var(--fonts-sub-heading);
  font-weight: 700;
  color: var(--light-slate);
  letter-spacing: 0.1rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 85em) {
  .heading-primary--sub {
    font-size: 3.2rem;
  }
}

.heading-stylist {
  font-size: var(--fonts-xs);
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--green);
}

.section-heading {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--white);
  margin: 1rem 0px 4rem;
  width: 100%;
  font-size: var(--fonts-xl);
  white-space: nowrap;
}
.section-heading::before {
  position: relative;
  counter-increment: my-section;
  content: "0" counter(my-section) ".";
  margin-right: 1rem;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fonts-lg);
  font-weight: 400;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

/* Fade up */
.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

/* Fade down */
.fadedown-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--cubanime), transform 300ms var(--cubanime);
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
}

/* Fade */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--cubanime);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--cubanime);
}

/* Fade */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}

.small-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-size: var(--fonts-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
}
.small-button:hover, .small-button:focus, .small-button:active {
  background-color: var(--green-tint);
  outline: none;
}
.small-button:after {
  display: none !important;
}

.button-totop {
  background-color: transparent;
  border: 2px solid var(--logo-color);
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  display: inline-block;
  height: 50px;
  position: fixed;
  text-align: center;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  width: 50px;
  z-index: 999;
}
.button-totop:hover {
  cursor: pointer;
  background-color: #333;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.footer {
  padding: 10rem 0;
  font-size: 1.4rem;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  padding-top: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  padding-top: 2rem;
  width: 80%;
  float: right;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--navy);
  filter: none !important;
  pointer-events: auto !important;
  -webkit-user-select: auto !important;
     -moz-user-select: auto !important;
      -ms-user-select: auto !important;
          user-select: auto !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: var(--transition);
}
header .scroll-up {
  height: var(--nav-scroll-height);
  transform: translateY(0px);
  background-color: --navy;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}
header .scroll-down {
  height: var(--nav-scroll-height);
  transform: translateY(calc(var(--nav-scroll-height) * -1));
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}

.logo {
  width: 20rem;
  height: 100%;
  background-color: rgba(2, 12, 27, 0.4);
  border-bottom-right-radius: 5px;
}
.logo .flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  gap: 0.3rem;
}
.logo .flexRow .nameText {
  flex-grow: 1;
  color: white;
  font-size: 1.5rem;
}
.logo .flexRow .jobTitle {
  font-size: 1.3rem;
  margin-top: -5px;
}
.logo .logoText {
  color: var(--logo-color);
  text-shadow: -0.3rem -0.1rem 0px var(--green), -0.4rem -0.1rem 0px var(--green);
  font-size: 6.5rem;
  font-weight: 600;
  justify-self: center;
  transition: all 0.2s ease-out;
}
.logo .logoText:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
.logo .text-column {
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding-right: 5rem;
  color: var(--white);
  font-family: var(--font-mono);
  z-index: 12;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo a {
  color: var(--green);
  width: 7.2rem;
  height: 7.2rem;
}
nav .logo a:hover svg, nav .logo a:focus svg {
  fill: var(--green-tint);
}
nav .logo a:hover:after, nav .logo a:focus:after {
  width: 0;
  height: 0;
}
nav .logo a svg {
  fill: none;
  transition: var(--transition);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
nav .nav--links {
  display: flex;
  align-items: center;
}
nav .nav--links ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav .nav--links ol li {
  counter-increment: item 1;
  margin: 0 5px;
  position: relative;
  font-size: var(--fonts-sm);
}
nav .nav--links ol li a {
  padding: 0.5rem;
  margin-right: 1rem;
  color: var(--white);
  margin-top: 1rem;
}
nav .nav--links ol li a:hover, nav .nav--links ol li a:focus {
  color: var(--green);
}
nav .nav--links ol li:before {
  content: "0" counter(item) ".";
  color: var(--green);
  font-size: var(--fonts-xxxs);
  text-align: right;
}
nav .nav--links .resume-button {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  font-size: var(--fonts-xs);
}

.section-about {
  padding: 10rem 15rem 10rem 22rem;
}

.about {
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
  grid-template-columns: 3fr 2fr;
  gap: 8rem;
}
.about__text-box {
  align-self: center;
}
.about__description-text {
  font-size: var(--fonts-sm);
  align-self: start;
  line-height: 1.3;
  color: var(--light-slate);
}
.about__tags-box {
  justify-self: center;
  align-self: start;
  margin-top: -8rem;
  z-index: 999;
}
.about__tags-box canvas {
  width: 100%;
  font-size: var(--fonts-xxl);
  background-color: var(--navy);
}

.skills_grid {
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
  width: 50%;
  align-items: start;
  margin: 0 1rem;
}
.skills_grid__text-box {
  align-self: center;
}
.skills_grid li {
  list-style: none;
  font-size: var(--fonts-xs);
  line-height: 1.4;
  color: var(--slate);
}
.skills_grid li::before {
  content: "▹";
  margin-right: 1rem;
  color: var(--green);
}

@media only screen and (max-width: 85em) {
  .section-about {
    padding: 10rem 6rem;
  }
  .about__tags-box {
    align-self: center;
    margin-top: -16rem;
  }
}
@media only screen and (max-width: 100em) {
  .section-about {
    padding: 10rem 10rem;
  }
  .about__tags-box {
    align-self: center;
    margin-top: -16rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-about {
    padding: 10rem 10rem;
  }
  .about {
    margin-top: 3.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0rem;
  }
  .about__text-box {
    justify-self: center;
  }
  .about__tags-box {
    margin-top: -5rem;
  }
  .about__tags-box canvas {
    width: 80%;
    overflow: visible;
    z-index: 999;
  }
}
@media only screen and (max-width: 48.25em) {
  .section-about {
    padding: 10rem 4rem;
  }
  .about__tags-box {
    margin-top: -4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-about {
    padding: 10rem 4rem;
  }
  .about__tags-box {
    margin-top: 0rem;
  }
}
.section-projects {
  padding: 10rem 22rem;
}

.project-container {
  padding: 0 12rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 30px);
  align-items: center;
  justify-content: center;
}
.project-container:not(:last-child) {
  margin-bottom: 10rem;
}
.project-container .project-title {
  letter-spacing: 0.1rem;
}
.project-container .project-title__main {
  color: var(--white);
  font-size: var(--fonts-lg);
}
.project-container .project-title__before {
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--green);
  font-size: var(--fonts-sm);
}
.project-container .project-content {
  font-size: 1.8rem;
  line-height: 1.4;
  z-index: 2;
}
.project-container .project-content__description {
  background-color: var(--dark-navy);
  color: var(--light-slate);
  padding: 1.6rem;
  border-radius: 3px;
}
.project-container .project-tools {
  list-style: none;
  color: var(--light-slate);
  font-weight: 550;
  font-style: italic;
  font-size: var(--fonts-xs);
  z-index: 3;
}
.project-container .project-tools li:not(:last-child) {
  margin-right: 15px;
}
.project-container .project-tools li::before {
  content: "◦";
  margin-right: 3px;
}
.project-container .project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightest-navy);
  height: 100%;
  width: 100%;
  border-radius: 3px;
  z-index: 1;
}
.project-container .project-image__btn {
  z-index: 3;
  position: absolute;
  border: 0;
  top: 0;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.project-container:nth-child(odd) .project-title {
  grid-area: 2/8/3/-1;
  justify-self: end;
}
.project-container:nth-child(odd) .project-title__before {
  display: flex;
  justify-content: end;
  align-items: center;
}
.project-container:nth-child(odd) .project-content {
  grid-area: 4/7/12/-1;
}
.project-container:nth-child(odd) .project-tools {
  grid-area: 10/1/15/-1;
  padding-left: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.project-container:nth-child(odd) .project-image {
  grid-area: 1/1/15/8;
}
.project-container:nth-child(odd) .project-image__btn {
  left: 12rem;
}
.project-container:nth-child(even) .project-title {
  grid-area: 2/1/3/5;
  justify-self: start;
}
.project-container:nth-child(even) .project-title__before {
  display: flex;
  justify-content: start;
  align-items: center;
}
.project-container:nth-child(even) .project-content {
  grid-area: 4/1/12/7;
}
.project-container:nth-child(even) .project-tools {
  grid-area: 10/1/15/-1;
  padding-left: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.project-container:nth-child(even) .project-image {
  grid-area: 1/6/15/-1;
}
.project-container:nth-child(even) .project-image__btn {
  right: 12rem;
}

.section-hero {
  padding: 10rem 22rem;
  min-height: 100vh;
}

.hero {
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
}
.hero__text-box {
  align-self: center;
}
.hero__image-box {
  justify-self: center;
  align-self: center;
  gap: 1.6rem;
}
.hero__description-text {
  font-size: var(--fonts-md);
  line-height: 1.3;
  color: var(--light-slate);
  -webkit-animation: bottomUp 1s;
          animation: bottomUp 1s;
}
.hero__contact-button {
  padding: 0.8rem 3.6rem;
  border-radius: 100px;
  background-color: var(--green);
  display: inline-block;
  font-size: var(--fonts-sm);
  font-weight: 500;
  -webkit-animation: bottomUp 1s;
          animation: bottomUp 1s;
}
.hero__contact-button:hover {
  color: var(--white);
  box-shadow: inset 0 0 0 1px var(--white);
  background-color: transparent;
}
.hero a {
  color: var(--dark-navy);
}
.hero a:hover:after {
  width: 0%;
  background-color: transparent;
}

@-webkit-keyframes bottomUp {
  from {
    transform: translateY(5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes bottomUp {
  from {
    transform: translateY(5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
@media only screen and (max-width: 85em) {
  .section-hero {
    padding: 10rem 8rem;
  }
}
@media only screen and (max-width: 100em) {
  .section-hero {
    padding: 10rem 12rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-hero {
    padding: 10rem 10rem;
  }
  .hero {
    margin-top: 3.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8.4rem;
  }
  .hero__text-box {
    justify-self: center;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-hero {
    padding: 10rem 4rem;
  }
}
.section-experience {
  padding: 10rem 22rem;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}
.experience__jobs-tab {
  font-size: var(--fonts-sm);
  min-width: 80%;
  max-width: 80%;
}
.experience__description-title {
  font-size: var(--fonts-sm);
}
.experience__position {
  color: var(--white);
}
.experience__description-date {
  color: var(--light-slate);
  margin-bottom: 2rem;
}
.experience__description-text {
  font-size: var(--tabs-size);
  line-height: 1.8;
  color: var(--light-slate);
}
.experience__description-text li:not(:last-child) {
  margin-bottom: 0.7rem;
}
.experience__description-text li {
  list-style: none;
  padding-left: 30px;
  position: relative;
}
.experience__description-text li::before {
  content: "▹";
  margin-right: 1rem;
  color: var(--green);
  position: absolute;
  left: 0;
  top: -2px;
}

.MuiButtonBase-root {
  color: var(--light-slate) !important;
  font-size: var(--tabs-size) !important;
  text-transform: none !important;
}

.Mui-selected {
  color: var(--green) !important;
}

.MuiTabs-indicator {
  background-color: var(--green) !important;
}

.MuiTabs-root {
  min-width: 35% !important;
  max-width: 35% !important;
}

.MuiBox-root {
  padding: 0 2rem !important;
}

@media only screen and (max-width: 85em) {
  .section-experience {
    padding: 10rem 6rem;
  }
}
@media only screen and (max-width: 100em) {
  .section-experience {
    padding: 10rem 10rem;
  }
  .experience__jobs-tab {
    min-width: 80%;
    max-width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-experience {
    padding: 10rem 10rem;
  }
  .experience__jobs-tab {
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-experience {
    padding: 10rem 4rem;
  }
  .experience__jobs-tab {
    min-width: 100%;
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */