@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --dark-navy: rgb(2, 12, 27);
  --logo-color: #175873;
  --logo-shadow: #08fdd8;
  --error-color: #dc3545;
  --not-found-shade: rgb(255, 195, 201);
  --grey: rgb(71, 82, 86);
  --navy: rgb(0, 40, 80);
  --light-navy: #112240;
  --lightest-navy: #233554;
  --dark-navy_rgba: rgba(2, 12, 27, 0.5);
  --lightest-navy-rgba: rgba(35, 53, 84, 0.5);
  --navy-shadow: rgba(2, 12, 27, 0.6);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: rgb(204, 214, 246);
  --lightesttt-slate:rgb(226, 230, 241);
  --lightest-slate-rgba: rgba(204, 214, 246, 0.7);
  --white: #e6f1ff;
  --green-light: #64ffda;
  --green: #08fdd8;
  --dark-green: #00dbba;
  --green-tint: rgba(100, 255, 218, 0.1);
  --main-fonts: "Calibre", "Open Sans", sans-serif;
  --fonts-sans: "Times", sans-serif;
  --logo-fonts: "Open Sans", "sans-serif"
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fonts-xxxs: 1em;
  --fonts-xxs: 1.2em;
  --fonts-mui-size: 1.4rem;
  --tabs-size: 1.6rem;
  --fonts-xs: 1.5rem;
  --fonts-sm: 1.7rem;
  --fonts-md: 2rem;
  --fonts-lg: 2.4rem;
  --fonts-xl: 3.2rem;
  --fonts-xxl: 3.8rem;
  --fonts-xxxl: 4.6rem;
  --fonts-xxxxl: 10.6rem;
  --fonts-big-heading: 5.4rem;
  --fonts-sub-heading: 3.6rem;
  --border-radius: 4px;
  --nav-height: 90px;
  --tab-height: 4.2rem;
  --tab-width: 12rem;
  --cubanime: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --nav-scroll-height: 70px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 85em) {
  html {
    font-size: 58%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

:focus {
  outline: 2px dashed var(--green);
  outline-offset: 3px;
}

:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0;
}

/* Scrollbar Styles */
html {
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--navy);
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: var(--navy);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  font-family: var(--main-fonts);
  line-height: 1.3;
  counter-reset: my-section;
}
body.hidden {
  overflow: hidden;
}
body.blur {
  overflow: hidden;
}
body.blur header {
  background-color: transparent;
}
body.blur #content > * {
  filter: blur(5px) brightness(0.7);
  transition: var(--transition);
  pointer-events: none;
  user-select: none;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}
a:hover, a:focus {
  color: var(--green);
}
a:hover::after, a:focus::after {
  height: 1px;
  margin-top: 2px;
}
a:hover, a:focus, a:active {
  color: var(--green);
  outline: 0;
}
a:hover:after, a:focus:after, a:active:after {
  width: 100%;
  left: 0%;
}
a:hover > *, a:focus > *, a:active > * {
  color: var(--green) !important;
  transition: var(--transition);
}
a:focus:after {
  width: 0;
  height: 0;
}
a:after {
  content: "";
  display: block;
  width: 0;
  border-radius: 50px;
  left: 50%;
  height: 2px;
  margin-top: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  transition: var(--transition);
  opacity: 0.5;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.heading-primary {
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  font-family: var(--fonts-sans);
  color: var(--white);
  letter-spacing: 0.2rem;
  display: block;
  font-size: var(--fonts-big-heading);
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.8rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  -webkit-animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
}
@media only screen and (max-width: 85em) {
  .heading-primary--main {
    font-size: 4.2rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: var(--fonts-sub-heading);
  font-weight: 700;
  color: var(--light-slate);
  letter-spacing: 0.1rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
  animation: moveInRight 1s ease-out;
  -webkit-animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 85em) {
  .heading-primary--sub {
    font-size: 3.2rem;
  }
}

.heading-stylist {
  font-size: var(--fonts-xs);
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--green);
}

.section-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  color: var(--white);
  margin: 1rem 0px 4rem;
  width: 100%;
  font-size: var(--fonts-xl);
  font-family: var(--fonts-sans);
  white-space: nowrap;
}
.section-heading::before {
  position: relative;
  counter-increment: my-section;
  content: "0" counter(my-section) ".";
  margin-right: 1rem;
  color: var(--green);
  font-size: var(--fonts-lg);
  font-weight: 400;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

/* Fade up */
.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

/* Fade down */
.fadedown-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--cubanime), transform 300ms var(--cubanime);
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
}

/* Fade */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--cubanime);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--cubanime);
}

/* Fade */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}

.small-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-size: var(--fonts-xs);
  font-family: var(--fonts-sans);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
  cursor: pointer;
}
.small-button:hover, .small-button:focus, .small-button:active {
  background-color: var(--green-tint);
  outline: none;
}
.small-button:after {
  display: none !important;
}

.button-totop {
  background-color: transparent;
  border: 1px solid rgb(189, 81, 92);
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  display: inline-block;
  height: 50px;
  position: fixed;
  text-align: center;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  width: 50px;
  z-index: 999;
}
.button-totop:hover {
  cursor: pointer;
  background-color: rgba(189, 81, 92, 0.3);
}

.flex-button {
  margin-top: 5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-button button {
  padding: 1.6rem 3.2rem;
  cursor: pointer;
}

.form-button,
.form-button:link,
.form-button:visited {
  text-transform: uppercase;
  margin-bottom: 0rem;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: var(--fonts-xs);
  background-color: var(--green);
  color: var(--dark-navy);
  border: none;
  cursor: pointer;
}

.form-button:disabled {
  opacity: 0.6;
  cursor: default;
}

.form-button:not(:disabled) {
  position: relative;
}
.form-button:not(:disabled):hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
}
.form-button:not(:disabled):hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background-color: var(--green);
}
.form-button:not(:disabled):active, .form-button:not(:disabled):focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}
.form-button:not(:disabled)::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.add-button {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  background-color: var(--dark-navy);
  font-size: var(--fonts-md);
  color: var(--white);
  transition: all 0.3s;
}
.add-button:hover {
  background-color: var(--navy);
}
.add-button:active {
  transform: scale(0.95);
}

.login-button {
  text-transform: uppercase;
  width: 300px;
  margin-bottom: 0rem;
  padding: 1.5rem 4rem;
  border-radius: 3px;
  font-weight: 550;
  -webkit-transition: all 0.2s;
  transition: all 0.3s;
  font-size: var(--fonts-xs);
  background-color: var(--dark-slate);
  color: var(--white);
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.09);
  border: none;
  cursor: pointer;
}
.login-button:hover:not(:disabled) {
  background-color: var(--navy);
  transform: translateY(-2px);
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
.login-button:active:not(:disabled) {
  outline: none;
  transform: scale(0.97);
}
.login-button:disabled {
  opacity: 0.6;
  cursor: default;
}

.contact-form__group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 0 rem;
}
.contact-form__input {
  width: 100% !important;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: var(--lightest-slate-rgba);
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 4px solid transparent;
  display: block;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .contact-form__input {
    width: 100%;
  }
}
.contact-form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid var(--green);
}
.contact-form__input:focus.invalid {
  border-bottom: 4px solid var(--error-color);
}
.contact-form__input::-webkit-input-placeholder {
  color: var(--lightest-navy);
  font-size: var(--fonts-xs);
}
.contact-form__input:not(:placeholder-shown) {
  background-color: var(--white);
}
.contact-form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  color: var(--lightest-slate);
}

.footer {
  padding: 2rem 0;
  font-size: var(--fonts-xs);
  color: var(--lightest-slate);
  background-color: var(--dark-navy);
}
.footer .flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer a {
  color: var(--lightest-slate);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a:hover {
  color: var(--green);
}
.footer a:hover::after {
  width: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--navy);
  font-family: var(--fonts-sans);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  backdrop-filter: blur(10px);
  transition: var(--transition);
}
header .scroll-up {
  height: var(--nav-scroll-height);
  transform: translateY(0px);
  background-color: --navy;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}
header .scroll-down {
  height: var(--nav-scroll-height);
  transform: translateY(calc(var(--nav-scroll-height) * -1));
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}

.logo {
  width: 17rem;
  height: 100%;
  border-bottom-right-radius: 15px;
  margin: 0rem 0 0 0.5rem;
}
.logo .flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  gap: 0.3rem;
}
.logo .flexRow .nameText {
  letter-spacing: 0.5px;
  flex-grow: 1;
  color: white;
  font-size: var(--fonts-xs);
  line-height: 2;
}
.logo .flexRow .jobTitle {
  font-size: 1.3rem;
  margin-top: -3px;
  margin-left: -3px;
  letter-spacing: 0.5px;
}
.logo .logoText {
  color: var(--logo-color);
  text-shadow: -0.3rem -0.1rem 0px var(--logo-shadow), -0.2rem -0.1rem 0px var(--logo-shadow);
  font-size: 6rem;
  font-weight: 600;
  justify-self: center;
  transition: all 0.2s ease-out;
}
.logo .logoText:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
.logo .text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.socials-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  right: auto;
  z-index: 999;
}
.socials-sidebar ul {
  list-style: none;
}
.socials-sidebar ul li {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-sidebar .ul__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.socials-sidebar a:hover {
  transform: translateY(-2px);
}
.socials-sidebar a:hover::after {
  width: 0;
}

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  position: fixed;
  left: 12px;
  bottom: 0px;
}
@media only screen and (max-width: 56.25em) {
  .fixed {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  margin-right: 5rem;
  color: var(--white);
  font-family: var(--font-mono);
  z-index: 500;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo a {
  color: var(--green);
  width: 7.2rem;
  height: 7.2rem;
}
nav .logo a:hover svg, nav .logo a:focus svg {
  fill: var(--green-tint);
}
nav .logo a:hover:after, nav .logo a:focus:after {
  width: 0;
  height: 0;
}
nav .logo a svg {
  fill: none;
  transition: var(--transition);
  user-select: none;
}
nav .nav--links {
  display: flex;
  align-items: center;
}
nav .nav--links ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav .nav--links ol li {
  counter-increment: item 1;
  margin: 0 5px;
  position: relative;
  font-size: var(--fonts-sm);
}
nav .nav--links ol li a {
  padding: 0.5rem;
  margin-right: 1rem;
  color: var(--white);
  margin-top: 1rem;
}
nav .nav--links ol li a:hover, nav .nav--links ol li a:focus {
  color: var(--green);
}
nav .nav--links ol li:before {
  content: "0" counter(item) ".";
  color: var(--green);
  font-size: var(--fonts-xxxs);
  text-align: right;
}
nav .nav--links .resume-button,
nav .nav--links .login-button-main {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: var(--fonts-xs);
}
nav .nav--links .login-button-main {
  margin-left: 30px;
  border: 1px solid var(--not-found-shade);
  color: var(--not-found-shade);
}

.not-found {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.not-found.__textContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found__status {
  font-size: 30rem;
  font-weight: 550;
  color: var(--not-found-shade);
  line-height: 0.9;
}
.not-found__comment {
  font-size: var(--fonts-xxl);
  color: var(--white);
}
.not-found__description {
  color: var(--lightest-slate);
  font-size: var(--fonts-sm);
}
.not-found__button {
  display: inline-block;
  padding: 1.5rem 6rem;
}

.section-about {
  padding: 10rem 15rem 15rem 22rem;
}

.about {
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
  grid-template-columns: 3fr 2fr;
  gap: 8rem;
}
.about__text-box {
  align-self: center;
}
.about__description-text {
  font-size: var(--fonts-sm);
  align-self: start;
  line-height: 1.5;
  color: var(--light-slate);
}
.about__tags-box {
  justify-self: center;
  align-self: start;
  margin-top: -8rem;
}
.about__tags-box canvas {
  width: 100%;
  font-size: var(--fonts-xxl);
  background-color: var(--navy);
}

.skills_grid {
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
  width: 50%;
  align-items: start;
  justify-content: start;
  margin: 0 3rem;
}
.skills_grid__text-box {
  align-self: center;
}
.skills_grid li {
  list-style: none;
  font-size: var(--fonts-xs);
  line-height: 1.4;
  color: var(--slate);
}
.skills_grid li::before {
  content: "▹";
  margin-right: 1rem;
  color: var(--green);
}

.section-projects {
  padding: 10rem 22rem;
}

.project-container {
  padding: 0 12rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 30px);
  align-items: center;
  justify-content: center;
}
.project-container:not(:last-child) {
  margin-bottom: 14rem;
}
.project-container .project-title {
  letter-spacing: 0.1rem;
  line-height: 1.2;
  font-family: var(--fonts-sans);
}
.project-container .project-title__main {
  color: var(--white);
  font-size: var(--fonts-lg);
}
.project-container .project-title__before {
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--green);
  font-size: var(--fonts-sm);
}
.project-container .project-content {
  font-size: 1.5rem;
  line-height: 1.5;
  z-index: 3;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.6);
  background-color: var(--dark-navy);
}
.project-container .project-content__description {
  color: var(--light-slate);
  padding: 1.6rem;
  border-radius: 3px;
}
.project-container .project-tools {
  list-style: none;
  color: var(--light-slate);
  font-weight: 500;
  font-size: var(--fonts-xs);
  display: flex;
  flex-wrap: wrap;
}
.project-container .project-tools li:not(:last-child) {
  margin-right: 15px;
}
.project-container .project-tools li::before {
  content: "◦";
  margin-right: 3px;
}
.project-container .project-anchors {
  margin: 2rem 0 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.project-container .project-anchors a:hover::after {
  width: 0;
}
.project-container .project-image {
  background-color: var(--navy-shadow);
  box-shadow: 0.4rem 0.8rem 1.6rem rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  border-radius: 3px;
  z-index: 1;
}
.project-container.project-anchors {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-container:nth-child(even) .project-title {
  grid-area: 1/1/3/-1;
  justify-self: start;
}
.project-container:nth-child(even) .project-title__before {
  display: flex;
  justify-content: start;
  align-items: center;
}
.project-container:nth-child(even) .project-content {
  grid-area: 2/1/12/7;
}
.project-container:nth-child(even) .project-tools {
  grid-area: 9/1/-1/-1;
  padding-left: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.project-container:nth-child(even) .project-anchors {
  grid-area: 11/1/-1/-1;
  display: flex;
  justify-content: start;
  align-items: center;
}
.project-container:nth-child(even) .project-image {
  grid-area: 1/6/-1/-1;
}
.project-container:nth-child(even) .slider-wrapper {
  grid-area: 1/6/-1/-1;
}
.project-container:nth-child(odd) .project-title {
  grid-area: 1/1/3/-1;
  justify-self: end;
}
.project-container:nth-child(odd) .project-title__before {
  display: flex;
  justify-content: end;
  align-items: center;
}
.project-container:nth-child(odd) .project-content {
  grid-area: 2/7/12/-1;
}
.project-container:nth-child(odd) .project-tools {
  grid-area: 9/1/-1/-1;
  padding-left: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.project-container:nth-child(odd) .project-anchors {
  grid-area: 11/1/-1/-1;
  display: flex;
  justify-content: end;
  align-items: center;
}
.project-container:nth-child(odd) .project-image {
  grid-area: 1/1/-1/8;
}
.project-container:nth-child(odd) .image-btn {
  padding: 0 1rem 0 1rem;
  grid-area: 1/1/3/2;
}

.carousel-root {
  height: 360px !important;
}
.carousel-root .carousel-slider {
  height: 100%;
}
.carousel-root .slider-wrapper {
  height: 360px !important;
  overflow: hidden;
}
.carousel-root .slider-wrapper .slider {
  height: 360px !important;
}
.carousel-root .control-dots {
  margin-bottom: 0 !important;
}
.carousel-root .control-dots .dot {
  background: var(--green) !important;
}
.carousel-root .carousel .slide .legend {
  display: none !important;
}
.carousel-root .carousel .slide img {
  max-height: 94%;
  min-height: 300px;
  max-width: 96%;
  min-width: 70%;
  justify-self: center;
}
.carousel-root .carousel .slider-wrapper.axis-horizontal .slider .slide {
  max-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-hero {
  padding: 10rem 22rem;
  min-height: 100vh;
}

.hero {
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
}
.hero__text-box {
  align-self: center;
}
.hero__image-box {
  justify-self: center;
  align-self: center;
  gap: 1.6rem;
}
.hero__description-text {
  font-size: var(--fonts-md);
  line-height: 1.5;
  color: var(--light-slate);
  animation: bottomUp 1s;
  -webkit-animation: bottomUp 1s;
}
.hero__contact-button {
  padding: 1rem 3.2rem;
  letter-spacing: 0.5px;
  border-radius: 100px;
  background-color: var(--green);
  display: inline-block;
  font-size: var(--fonts-sm);
  font-family: var(--fonts-sans);
  font-weight: 500;
  animation: bottomUp 1s;
  -webkit-animation: bottomUp 1s;
}
.hero__contact-button:hover {
  color: var(--white);
  box-shadow: inset 0 0 0 0.5px var(--white);
  background-color: transparent;
}
.hero a {
  color: var(--dark-navy);
}
.hero a:hover div {
  color: var(--white) !important;
}
.hero a:hover:after {
  width: 0%;
  background-color: transparent;
}
.hero div {
  margin-top: 2px;
}

@keyframes bottomUp {
  from {
    transform: translateY(5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
.section-experience {
  padding: 10rem 22rem;
  min-height: 90vh;
  max-height: 100vh;
  font-size: var(--fonts-sm) !important;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}
.experience__jobs-tab {
  font-size: var(--fonts-sm) !important;
  min-width: 80%;
  max-width: 80%;
}
.experience__description-title {
  font-size: var(--fonts-sm);
}
.experience__position {
  color: var(--white);
}
.experience__description-date {
  color: var(--light-slate);
  margin-bottom: 2rem;
  font-size: var(--fonts-xs);
}
.experience__description-text {
  font-size: var(--tabs-size);
  line-height: 1.8;
  color: var(--light-slate);
}
.experience__description-text li:not(:last-child) {
  margin-bottom: 0.7rem;
}
.experience__description-text li {
  list-style: none;
  padding-left: 30px;
  position: relative;
}
.experience__description-text li::before {
  content: "▹";
  margin-right: 1rem;
  color: var(--green);
  position: absolute;
  left: 0;
  top: -2px;
}

.MuiButtonBase-root {
  color: var(--light-slate) !important;
  font-size: var(--tabs-size) !important;
  text-transform: none !important;
}

.Mui-selected {
  color: var(--green) !important;
}

.MuiTabs-indicator {
  background-color: var(--green) !important;
}

.MuiTabs-root {
  min-width: 35% !important;
  max-width: 35% !important;
}

.MuiBox-root {
  padding: 0 2rem !important;
}

.section-contact {
  padding: 15rem 12rem 7rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  align-self: stretch;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}

.contact {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  gap: 6.2rem;
}
.contact__text-box {
  align-self: center;
}

.leaflet-container {
  z-index: 999;
  border-radius: 3px;
  height: 50vh;
  overflow: hidden;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaflet-popup-content-wrapper {
  background-color: var(--navy);
  color: white;
  border-radius: 7px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
  font-size: var(--fonts-xs);
}
.leaflet-popup-content-wrapper .leaflet-popup-tip {
  background: var(--navy) !important;
}

.leaflet-tile {
  filter: hue-rotate(35deg);
}

hr {
  background-color: #6c757d;
  height: 1px;
  border: 0;
}

leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: var(--navy);
}

.login-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2fr 4fr;
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.login-container .login-sidebar {
  max-width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 40, 80);
  padding: 1rem;
  font-size: var(--fonts-xs);
}
.login-container .login-sidebar__flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-container .login-sidebar__flex .description {
  text-align: center;
  color: var(--lightest-slate);
}
.login-container .main-form {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--lightest-slate);
  color: var(--dark-navy);
  padding: 3rem;
}
.login-container .main-form__title {
  margin-bottom: 5rem;
  font-size: var(--fonts-lg);
  font-weight: 550;
}
.login-container .main-form__input {
  font-size: var(--fonts-sm) !important;
}

.dash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.8rem;
  font-weight: 600;
  line-height: 1.2;
}
@media only screen and (max-width: 675px) {
  .dash-container {
    gap: 3.2rem;
  }
}
.dash-container .card-title {
  font-size: var(--fonts-xl);
  color: var(--logo-color);
}
.dash-container .card-number {
  font-size: var(--fonts-xxxxl);
  color: var(--dark-slate);
}

.paper-container {
  max-height: calc(100vh - var(--nav-height) - 15rem);
  margin-top: -5rem;
  z-index: 100;
  max-width: 90vw;
  min-width: 90vw;
  background-color: var(--light-slate);
  overflow: auto;
}
.paper-container .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.paper-container a {
  color: var(--dark-navy);
}
.paper-container a:active {
  color: var(--logo-color);
}
.paper-container a:hover {
  color: var(--logo-color) !important;
}
.paper-container a:hover::after {
  width: 0;
}

@media only screen and (max-width: 100em) {
  .section-experience,
.section-about {
    padding: 10rem 10rem;
  }
  .section-hero {
    padding: 10rem 14rem;
  }
  .experience__jobs-tab {
    min-width: 80%;
    max-width: 80%;
  }
  .section-projects {
    padding: 15rem 16rem;
  }
}
@media only screen and (max-width: 85em) {
  .section-experience,
.section-hero,
.section-about {
    padding: 10rem 6rem;
  }
  .section-hero {
    padding: 10rem 10rem;
  }
  .about__tags-box {
    align-self: center;
    margin-top: -16rem;
  }
  .section-projects {
    padding: 15rem 16rem;
  }
  .project-container {
    padding: 0;
  }
}
@media only screen and (max-width: 75em) {
  .section-projects {
    padding: 10rem 12rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-experience,
.section-hero,
.section-about,
.section-contact {
    padding: 10rem 10rem;
  }
  .section-projects {
    padding: 15rem 15rem;
  }
  .experience__jobs-tab {
    min-width: 100%;
    max-width: 100%;
  }
  .hero,
.about,
.contact {
    margin-top: 3.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .hero__text-box,
.about__text-box,
.contact__text-box {
    justify-self: center;
    margin-bottom: 3rem;
  }
  .hero__tags-box,
.about__tags-box,
.contact__tags-box {
    margin-top: 0;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__tags-box canvas,
.about__tags-box canvas,
.contact__tags-box canvas {
    width: 100%;
    overflow: visible;
  }
  .contact {
    row-gap: 3.6rem;
  }
  .contact-form__group {
    padding: 0;
  }
  .contact {
    margin-top: -1rem;
  }
  .hero {
    gap: 8.4rem;
  }
  .about {
    gap: 0;
  }
  .project-container:nth-child(even) {
    background-color: rgba(2, 12, 27, 0.7);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 30px);
  }
  .project-container:nth-child(even) .carousel-root {
    height: 300px !important;
  }
  .project-container:nth-child(even) .carousel-root .carousel-slider {
    height: 100%;
  }
  .project-container:nth-child(even) .carousel-root .slider-wrapper {
    height: 300px !important;
    overflow: hidden;
  }
  .project-container:nth-child(even) .carousel-root .slider-wrapper .slider {
    height: 300px !important;
  }
  .project-container:nth-child(even) .carousel-root .control-dots {
    margin-bottom: 0 !important;
  }
  .project-container:nth-child(even) .carousel-root .control-dots .dot {
    background: var(--green) !important;
  }
  .project-container:nth-child(even) .carousel-root .carousel .slide .legend {
    display: none !important;
  }
  .project-container:nth-child(even) .carousel-root .carousel .slide img {
    max-height: 94%;
    min-height: 300px;
    max-width: 96%;
    min-width: 70%;
    justify-self: center;
  }
  .project-container:nth-child(even) .carousel-root .carousel .slider-wrapper.axis-horizontal .slider .slide {
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-container:nth-child(even) .carousel .slider-wrapper.axis-horizontal .slider .slide {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .project-container:nth-child(even) .project-image {
    grid-area: 3/1/13/-1;
  }
  .project-container:nth-child(even) .project-content {
    box-shadow: none;
    background-color: transparent;
    align-self: stretch;
    justify-content: start;
    grid-area: 13/1/17/-1;
  }
  .project-container:nth-child(even) .project-content__description {
    padding: 1.5rem;
  }
  .project-container:nth-child(even) .project-title {
    margin-left: 1rem;
    background-color: transparent;
    justify-self: start;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  .project-container:nth-child(even) .project-title__main {
    font-size: 1.7rem;
    line-height: 1.4;
  }
  .project-container:nth-child(even) .project-title__before {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: var(--fonts-xxs);
  }
  .project-container:nth-child(even) .project-tools {
    margin-bottom: 1rem;
    grid-area: 18/1/-1/-1;
    color: var(--white);
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .project-container:nth-child(even) .project-anchors {
    z-index: 500;
    padding: 2rem 1.5rem 0 2rem;
    grid-area: 1/11/1/-1;
  }
  .project-container:nth-child(odd) {
    background-color: rgba(2, 12, 27, 0.7);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 30px);
  }
  .project-container:nth-child(odd) .carousel-root {
    height: 300px !important;
  }
  .project-container:nth-child(odd) .carousel-root .carousel-slider {
    height: 100%;
  }
  .project-container:nth-child(odd) .carousel-root .slider-wrapper {
    height: 300px !important;
    overflow: hidden;
  }
  .project-container:nth-child(odd) .carousel-root .slider-wrapper .slider {
    height: 300px !important;
  }
  .project-container:nth-child(odd) .carousel-root .control-dots {
    margin-bottom: 0 !important;
  }
  .project-container:nth-child(odd) .carousel-root .control-dots .dot {
    background: var(--green) !important;
  }
  .project-container:nth-child(odd) .carousel-root .carousel .slide .legend {
    display: none !important;
  }
  .project-container:nth-child(odd) .carousel-root .carousel .slide img {
    max-height: 94%;
    min-height: 300px;
    max-width: 96%;
    min-width: 70%;
    justify-self: center;
  }
  .project-container:nth-child(odd) .carousel-root .carousel .slider-wrapper.axis-horizontal .slider .slide {
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-container:nth-child(odd) .carousel .slider-wrapper.axis-horizontal .slider .slide {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .project-container:nth-child(odd) .project-image {
    grid-area: 3/1/13/-1;
  }
  .project-container:nth-child(odd) .project-content {
    box-shadow: none;
    background-color: transparent;
    align-self: stretch;
    justify-content: start;
    grid-area: 13/1/17/-1;
  }
  .project-container:nth-child(odd) .project-content__description {
    padding: 1.5rem;
  }
  .project-container:nth-child(odd) .project-title {
    margin-left: 1rem;
    background-color: transparent;
    justify-self: start;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  .project-container:nth-child(odd) .project-title__main {
    font-size: 1.7rem;
    line-height: 1.4;
  }
  .project-container:nth-child(odd) .project-title__before {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: var(--fonts-xxs);
  }
  .project-container:nth-child(odd) .project-tools {
    margin-bottom: 1rem;
    grid-area: 18/1/-1/-1;
    color: var(--white);
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .project-container:nth-child(odd) .project-anchors {
    z-index: 500;
    padding: 2rem 1.5rem 0 2rem;
    grid-area: 1/11/1/-1;
  }
}
@media only screen and (max-width: 48.25em) {
  .section-projects {
    padding: 15rem 10rem;
  }
  .section-about {
    padding: 10rem 6rem;
  }
  .about__tags-box {
    margin-top: 0;
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .project-container:nth-child(even), .project-container:nth-child(odd) {
    grid-template-rows: repeat(18, 23px);
  }
  .project-container:nth-child(even) .carousel-root, .project-container:nth-child(odd) .carousel-root {
    height: 230px !important;
  }
  .project-container:nth-child(even) .carousel-root .carousel-slider, .project-container:nth-child(odd) .carousel-root .carousel-slider {
    height: 100%;
  }
  .project-container:nth-child(even) .carousel-root .slider-wrapper, .project-container:nth-child(odd) .carousel-root .slider-wrapper {
    height: 230px !important;
    overflow: hidden;
  }
  .project-container:nth-child(even) .carousel-root .slider-wrapper .slider, .project-container:nth-child(odd) .carousel-root .slider-wrapper .slider {
    height: 230px !important;
  }
  .project-container:nth-child(even) .carousel-root .control-dots, .project-container:nth-child(odd) .carousel-root .control-dots {
    margin-bottom: 0 !important;
  }
  .project-container:nth-child(even) .carousel-root .control-dots .dot, .project-container:nth-child(odd) .carousel-root .control-dots .dot {
    background: var(--green) !important;
  }
  .project-container:nth-child(even) .carousel-root .carousel .slide .legend, .project-container:nth-child(odd) .carousel-root .carousel .slide .legend {
    display: none !important;
  }
  .project-container:nth-child(even) .carousel-root .carousel .slide img, .project-container:nth-child(odd) .carousel-root .carousel .slide img {
    max-height: 94%;
    min-height: 230px;
    max-width: 96%;
    min-width: 70%;
    justify-self: center;
  }
  .project-container:nth-child(even) .carousel-root .carousel .slider-wrapper.axis-horizontal .slider .slide, .project-container:nth-child(odd) .carousel-root .carousel .slider-wrapper.axis-horizontal .slider .slide {
    max-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-experience,
.section-hero,
.section-contact {
    padding: 10rem 4rem;
  }
  .section-projects {
    padding: 13rem 4rem 10rem 4rem;
  }
  .section-experience {
    min-height: 50vh;
  }
  .nav-admin {
    margin-right: 1rem;
  }
  .section-about {
    padding: 10rem 4rem 0rem 4rem;
  }
  .about__tags-box {
    margin-top: 7rem;
    padding: 0 1rem;
  }
  .experience__jobs-tab {
    min-width: 100%;
    max-width: 100%;
  }
  .skills_grid {
    width: 90%;
    gap: 1rem;
    margin: 0 1rem;
  }
  .login-container .main-form .login-button {
    width: 200px;
  }
}
@media only screen and (max-width: 28em) {
  .about__tags-box {
    margin-top: 0rem;
    padding: 0 0rem;
  }
  .section-projects {
    padding: 15rem 3rem 15rem 3rem;
  }
  .project-container:nth-child(even) .carousel-root, .project-container:nth-child(odd) .carousel-root {
    height: 190px !important;
  }
  .project-container:nth-child(even) .carousel-root .carousel-slider, .project-container:nth-child(odd) .carousel-root .carousel-slider {
    height: 100%;
  }
  .project-container:nth-child(even) .carousel-root .slider-wrapper, .project-container:nth-child(odd) .carousel-root .slider-wrapper {
    height: 190px !important;
    overflow: hidden;
  }
  .project-container:nth-child(even) .carousel-root .slider-wrapper .slider, .project-container:nth-child(odd) .carousel-root .slider-wrapper .slider {
    height: 190px !important;
  }
  .project-container:nth-child(even) .carousel-root .control-dots, .project-container:nth-child(odd) .carousel-root .control-dots {
    margin-bottom: 0 !important;
  }
  .project-container:nth-child(even) .carousel-root .control-dots .dot, .project-container:nth-child(odd) .carousel-root .control-dots .dot {
    background: var(--green) !important;
  }
  .project-container:nth-child(even) .carousel-root .carousel .slide .legend, .project-container:nth-child(odd) .carousel-root .carousel .slide .legend {
    display: none !important;
  }
  .project-container:nth-child(even) .carousel-root .carousel .slide img, .project-container:nth-child(odd) .carousel-root .carousel .slide img {
    max-height: 94%;
    min-height: 190px;
    max-width: 96%;
    min-width: 70%;
    justify-self: center;
  }
  .project-container:nth-child(even) .carousel-root .carousel .slider-wrapper.axis-horizontal .slider .slide, .project-container:nth-child(odd) .carousel-root .carousel .slider-wrapper.axis-horizontal .slider .slide {
    max-height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-container:nth-child(even) .project-image, .project-container:nth-child(odd) .project-image {
    grid-area: 3/1/11/-1;
  }
  .project-container:nth-child(even) .project-content, .project-container:nth-child(odd) .project-content {
    grid-area: 11/1/17/-1;
  }
  .project-container:nth-child(even) .project-content__description, .project-container:nth-child(odd) .project-content__description {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
  }
  .project-container:nth-child(even) .project-tools, .project-container:nth-child(odd) .project-tools {
    margin: 0rem 0 1.5rem 1.5rem;
  }
  .project-container:nth-child(even) .project-tools li:not(:last-child), .project-container:nth-child(odd) .project-tools li:not(:last-child) {
    margin-right: 7px;
  }
}
@media only screen and (max-width: 350px) {
  .section-projects {
    padding: 25rem 3rem 15rem 3rem;
  }
}
@media only screen and (max-width: 300px) {
  .section-projects {
    margin: 20rem 3rem 15rem 3rem;
  }
}
@media only screen and (max-width: 745px) {
  .MuiTabs-root {
    min-width: 120% !important;
    max-width: auto !important;
    padding: 0 !important;
    margin-bottom: 4rem;
  }
  .MuiBox-root {
    padding: 0 0rem !important;
  }
}
@media only screen and (max-width: 790px) {
  .login-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .login-container .login-sidebar {
    max-width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
