.footer {
  padding: 2rem 0;
  @include flex_center;
  font-size: var(--fonts-xs);
  color: var(--lightest-slate);
  background-color: var(--dark-navy);

  a {
    color: var(--lightest-slate);
    @include flex_center;

    &:hover {
      color: var(--green);

      &::after {
        width: 0;
      }
    }
  }
}
