.not-found {
  min-height: 90vh;
  @include flex_center;
  text-align: center;

  &.__textContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__status {
    font-size: 30rem;
    font-weight: 550;
    color: var(--not-found-shade);
    line-height: 0.9;
  }

  &__comment {
    font-size: var(--fonts-xxl);
    color: var(--white);
  }

  &__description {
    color: var(--lightest-slate);
    font-size: var(--fonts-sm);
  }

  &__button {
    display: inline-block;
    padding: 1.5rem 6rem;
  }
}
