body {
  font-family: var(--fonts-sans);
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    color: var(--white);
    letter-spacing: 0.2rem;
    display: block;
    font-size: var(--fonts-big-heading);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(tab-land) {
      font-size: 4.2rem;
    }
  }

  &--sub {
    display: block;
    font-size: var(--fonts-sub-heading);
    font-weight: 700;
    color: var(--light-slate);
    letter-spacing: 0.1rem;
    line-height: 1.2;
    animation: moveInRight 1s ease-out;

    @include respond(tab-land) {
      font-size: 3.2rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  color: var(--lightest-slate);
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-stylist {
  font-size: var(--fonts-xs);
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--green);
}
